* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
}

@font-face {
  font-family: "TTLakes";
  src: url(/fonts/TTLakes-Regular.eot);
  font-style: normal;
  font-weight: 400 normal;
}

@font-face {
  font-family: "TTLakes";
  src: url(/fonts/TTLakes-Medium.eot);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TTLakes";
  src: url(/fonts/TTLakes-Bold.eot);
  font-style: normal;
  font-weight: 700 bold;
}

body {
  background-color: #F8F8F8;
  font-family: "TTLakes";
}

.brands-title {
  min-width: 320px;
  min-height: 80px;
  padding: 16px;
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .brands-title {
    padding-right: 24px;
    min-height: 0;
  }
}

@media (min-width: 1120px) {
  .brands-title {
    padding-right: 32px;
    min-height: 0;
  }
}

.brands-title__text {
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.brands-buttons__pagination {
  top: 183px;
}

.brands-buttons__pagination .swiper-pagination-bullet {
  background-color: #B5B6BC;
  width: 12px;
  height: 12px;
}

.brands-buttons .hidden {
  display: none;
}

@media (min-width: 768px) {
  .brands-buttons__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .brands-buttons {
    margin-bottom: 8px;
    margin-top: 24px;
  }
}

.brands-buttons__container {
  margin-left: 16px;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .brands-buttons__container {
    margin-left: 24px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-top: 0px;
  }
}

@media (min-width: 1120px) {
  .brands-buttons__container {
    margin-left: 32px;
    margin-right: 0px;
    margin-top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .brands-buttons__container img,
  .brands-buttons__container button {
    max-width: 224px;
    max-height: 72px;
  }
}

@media (min-width: 1120px) {
  .brands-buttons__container img,
  .brands-buttons__container button {
    max-width: 240px;
  }
}

.brands-show-all {
  display: none;
  margin-left: 24px;
  margin-right: 9px;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .brands-show-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.brands-show-all__button {
  font-family: "TTLakes";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.inverted {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.brands-buttons__container .swiper-slide {
  width: auto;
}

.swiper-slide {
  min-width: 0;
}
